body {
  margin-bottom: 50px;
}

abbr {
  cursor: default;
}

.all-tags {
  margin: 0 auto;
  width: 70%;
  padding: 5px;
  background-color: lightgray;
}

.all-tags > h1, .tags {
  margin: 10px;
  padding: 5px;
}

.tags {
  background: white;
}

.tags > h2 {
  margin: 4px;
  font-size: 90%;
}

aside {
    width: 25%;
    padding-left: 10px;
    margin-left: 15px;
    margin-right: 184px;
    float: right;
    font-style: italic;
    background-color: #f1d7f7;
    text-align: center;
}

.aside {
  margin: 0 auto;
  width: 70%;
  padding: 5px;
}

blockquote {
  margin-left: 0;
}

button {
    background-color: #ddb5d6;
    padding: 4px 2px;
}

thead {color: red;}
tbody {color: blue;}
tfoot {color: green;}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
  width: 25%;

}

tr {
  text-align: center;
}

img {
  width: 300px;
}

code {
  background-color: #97dfb0;
  padding: 2px;
  font-size: 110%;

}

 rect {
  fill: #97dfb0;
 
 }
  
 .small {
  font-size: smaller;
}
kbd {
  border-radius: 2px;
  padding: 2px;
  border: 1px solid black;
}